<html ng-app="Mercadorias">

<head>
	<meta charset="utf-8" />
	<title>Gerenciador de Mercadorias</title>
	<script type="text/javascript" src="lib/_javascript/javascript.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/_bootstrap/css/bootstrap.css" />
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.form-control {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			margin-top: 20px;
		}
		
		.btn {
			margin-top: 30px;
			width: 300px;
		}
	</style>
	<script src="lib/_angular/angular.js"></script>
	<script>
		angular.module("Mercadorias", []);
		angular.module("Mercadorias").controller("mercadoriasCtrl", function ($scope, $http) {
			$scope.app = "Mercadorias";
			$scope.lista = [];
			$scope.negocios = [
				{ tipo: "Venda" },
				{ tipo: "Compra" }
			];
			$scope.adicionar = function (mercadoria) {
				delete $scope.mercadoria;
				$scope.mercadoriaForm.$setPristine();
			}
		});
	</script>
</head>

<body ng-controller="mercadoriasCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<form name="mercadoriaForm" method="post"  action="verify.php">
			<input class="form-control" type="text" ng-model="mercadoria.nome" name="nome" placeholder="Nome" ng-required="true" />
			<input class="form-control" type="text" ng-model="mercadoria.tipomercadoria" name="tipomerc" placeholder="Tipo" ng-required="true"
			/>
			<input class="form-control" type="number" min="0" ng-model="mercadoria.quantidade" name="quantidade" placeholder="Quantidade"
				ng-required="true" />
			<input class="form-control" type="number" step="0.01" ng-model="mercadoria.preco" name="preco" placeholder="Preço" ng-required="true"
			/>
			<select class="form-control" type="text" ng-model="mercadoria.tiponegocio" name="tiponeg" ng-options="negocio.tipo for negocio in negocios"
				ng-required="true">
				<option value="">Tipo de Negócio</option>
				</select>
				<button class="btn btn-primary" type="submit" ng-disabled="mercadoriaForm.$invalid">Adicionar</button>
		</form>
		<div ng-show="mercadoriaForm.nome.$invalid && mercadoriaForm.nome.$dirty" class="alert alert-danger">
			Por favor, preencha o campo nome!
		</div>
		<div ng-show="mercadoriaForm.tipomerc.$invalid && mercadoriaForm.tipomerc.$dirty" class="alert alert-danger">
			Por favor, preencha o campo tipo de mercadoria!
		</div>
		<div ng-show="mercadoriaForm.quantidade.$invalid && mercadoriaForm.quantidade.$dirty" class="alert alert-danger">
			Por favor, preencha o campo quantidade! 
		</div>
		<div ng-show="mercadoriaForm.preco.$invalid && mercadoriaForm.preco.$dirty" class="alert alert-danger">
			Por favor, preencha o campo preço! 
		</div>
		<div ng-show="mercadoriaForm.tiponeg.$invalid && mercadoriaForm.tiponeg.$dirty" class="alert alert-danger">
			Por favor, selecione o tipo do negócio! 
		</div>
		<button class="btn btn-primary" onclick="window.location.href='index.html';">Menu Inicial</button>

	</div>
</body>

</html>